{% extends "mafalb.openssh.sshd_config.j2" %}
{% block Matches %}
{% if sftponly_group is defined %}
Match Group {{ sftponly_group }}
	ChrootDirectory %h
        AuthorizedKeysFile /etc/ssh/authorized_keys/{{ sftponly_group }} .ssh/authorized_keys
	ForceCommand internal-sftp -f AUTH -l VERBOSE
	AllowTcpForwarding no
	X11Forwarding no
	PermitTTY no
{% endif %}
{% endblock %}
