{# This file is part of ansible-collection-openssh #}
{# Copyright (c) 2021 Markus Falb <markus.falb@mafalb.at> #}
{# #}
{# ansible-collection-openssh is free software: you can redistribute it #}
{# and/or modify it under the terms of the GNU General Public License as #}
{# published by the Free Software Foundation, either version 3 of the #}
{# License, or (at your option) any later version. #}
{# #}
{# ansible-collection-openssh is distributed in the hope that it will be #}
{# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of #}
{# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the #}
{# GNU General Public License for more details. #}
{# #}
{# You should have received a copy of the GNU General Public License #}
{# along with ansible-collection-openssh. #}
{# If not, see <https://www.gnu.org/licenses/>. #}

{% extends "mafalb.openssh.sshd_config.j2" %}
{% block Matches %}
{% if sftponly_group is defined %}
Match Group {{ sftponly_group }}
	ChrootDirectory %h
        AuthorizedKeysFile /etc/ssh/authorized_keys/{{ sftponly_group }} .ssh/authorized_keys
	ForceCommand internal-sftp -f AUTH -l VERBOSE
	AllowTcpForwarding no
	X11Forwarding no
	PermitTTY no
{% endif %}
{% endblock %}
