{% extends "mafalb.openssh.sshd_config.j2" %}
{% block Matches %}
{% if sftponly_groups is defined %}
{% for match in sftponly_groups %}
Match Group {{ match }}
	ChrootDirectory %h
	ForceCommand internal-sftp -f AUTH -l VERBOSE
	AllowTcpForwarding no
	X11Forwarding no
	PermitTTY no
{% endfor %}
{% endif %}
{% endblock %}
