{#
# This file is part of ansible-collection-openssh
# Copyright (c) 2021 Markus Falb <markus.falb@mafalb.at>
#
# ansible-collection-openssh is free software: you can redistribute it 
# and/or modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# ansible-collection-openssh is distributed in the hope that it will be
# useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with ansible-collection-openssh.
# If not, see <https://www.gnu.org/licenses/>.
-#}

{% import 'mafalb.sshd.macros.j2' as sshd_macros -%}
# {{ ansible_managed }}

{% if sshd_config_has_global_include -%}
Include /etc/ssh/sshd_config.d/*.conf
{%- endif -%}
{% block Overrides -%}
#
{% endblock -%}

{% for directive in sshd.cfg|dict2items -%}
{% if directive.key == 'Match' -%}
{% if directive.value|type_debug == 'list' -%}
{% for match_item in directive.value -%}
{% for match in match_item|dict2items %}

Match {{ match.key }}
{% for match_directive in match.value|dict2items %}
    {{ sshd_macros.directive(match_directive.key, match_directive.value) }}
{% endfor -%}    
{% endfor -%}
{% endfor -%}
{% else -%}
{% for match in directive.value|dict2items %}

Match {{ match.key }}
{% for match_directive in match.value|dict2items %}
    {{ sshd_macros.directive(match_directive.key, match_directive.value) }}
{% endfor -%}
{% endfor -%}
{% endif -%}
{% else -%}
{{ sshd_macros.directive(directive.key, directive.value) }}
{% endif -%}
{% endfor -%}

